body {
    font-family: 'Formula1-Regular', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #E10500;
    padding: 1rem;
    font-family: 'Formula1-Wide', sans, serif
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  section {
    padding: 20px;
    border-bottom: 1px solid black;
    margin: 50px 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Formula1-Bold', Arial, sans-serif;
    color: black;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
  }
  
  .large-text {
    font-size: 2em; /* This makes the text twice as big */
  }
  
  #about {
    display: flex;
    align-items: center;
  }
  
  #about img {
    width: 500px;
    height: auto;
    margin: 20px 0;
  }
  
  #home {
    margin-bottom: 50px;
  }
  
  #projects {
    margin-top: 50px;
  }
  
  @font-face {
    font-family: 'Formula1-Regular';
    src: url('fonts/Formula1-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Formula1-Bold';
    src: url('fonts/Formula1-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Formula1-Wide';
    src: url('./fonts/Formula1-Wide.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  /* F1 Team Section Styles */
  .team-section {
    padding: 4rem 2rem;
    color: rgb(0, 0, 0);
    min-height: 300px;
  }

  .team-section h2 {
    color: white;
  }

  /* Team Background Colors */
  .mercedes-bg {
    background-color: black;
    color: #C0C0C0;
  }

  .redbull-bg {
    background-color: #021E48;
    color: #E40B21;
  }

  .mclaren-bg {
    background-color: #FF9801;
    color: black; /* Better contrast on orange */
  }

  .ferrari-bg {
    background-color: #ED1B25;
    color: #F1F102;
  }

  .alpine-bg {
    background-color: #005BA9;
    color: #FD4BC7;
  }

  .aston-bg {
    background-color: #005850;
    color: white;
  }

  .haas-bg {
    background-color: red;
    color: black;
  }

  .alphatauri-bg {
    background-color: #1633CD;
    color: white;
  }

  .alfa-bg {
    background-color: black;
    color: #00E501;
  }

  .williams-bg {
    background-color: #005AFF;
    color: #039EE7;
  }

  /* Add hover effects for interactivity */
  .team-section:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
  }

  /* Add smooth scrolling for the whole page */
  html {
    scroll-behavior: smooth;
  }

  /* Optional: Add some padding-top to the f1-teams section to account for the fixed navbar */
  #f1-teams {
    padding-top: 2rem;
  }