body {
    font-family: 'Formula1-Regular', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #E10500;
    padding: 1rem;
    font-family: 'Formula1-Wide', sans, serif
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  section {
    padding: 20px;
    border-bottom: 1px solid black;
    margin: 50px 0;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Formula1-Bold', Arial, sans-serif;
    color: black;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
  }
  
  .large-text {
    font-size: 2em; /* This makes the text twice as big */
  }
  
  #about {
    display: flex;
    align-items: center;
  }
  
  #about img {
    width: 500px;
    height: auto;
    margin: 20px 0;
  }
  
  #home {
    margin-bottom: 50px;
  }
  
  #projects {
    margin-top: 50px;
  }
  
  @font-face {
    font-family: 'Formula1-Regular';
    src: url('fonts/Formula1-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Formula1-Bold';
    src: url('fonts/Formula1-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Formula1-Wide';
    src: url('./fonts/Formula1-Wide.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }