body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: lightblue;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px; /* Add padding for better hover effect */
  }
  
  nav a:hover {
    background-color: green; /* Change the background color to dark blue on hover */
  }
  
  section {
    padding: 20px;
    border-bottom: 1px solid black;
  }
  
  h1, h2, h3 {
    color: black;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
  }
  
  .large-text {
    font-size: 2em; /* This makes the text twice as big */
  }
  